
<mat-card>
  <mat-card-content>
    <form class="example-form" [formGroup]="loginform" (ngSubmit)="onSubmit()">
      <mat-form-field class="example-full-width" >
        <mat-label>Token No.</mat-label>
        <input matInput placeholder="Tok12456" formControlName="token">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>User ID</mat-label>
        <input matInput placeholder="user3456" type="text" formControlName="userid">
      </mat-form-field>
      <div class="submit-btn"><button mat-raised-button color="primary" >Submit</button></div>
    </form>
  </mat-card-content>

</mat-card>
